@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

body {
    background-image: url("yuta801-27.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: 100% auto;
    font-family: 'Kaisei Opti', sans-serif;

}
body {

}

.wrapper {
    color: #fff;
    width: 50%;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    border-radius: 25px;
    margin: auto;

}